.navbar-light .navbar-brand{
  color: #efececfa;
  margin-right: 10%;
  padding: 20px 5px;
}
.navbar-nav .dropdown-menu {
  width: 0px;
}
.navbar-light .navbar-toggler {
  color: #fff;
  border-radius: 11px;
  background: #c1bcbc;
}
.navbar-light .navbar-nav .nav-link {
  color: #d6d2d2fa;
  margin-right: 40px;
}
.h1, h1 {
  font-size: 2.0rem;
}
.banner {
  position: relative;
  width: 100%;
  /* min-height: 75vh; */
  padding:  0 100px;
  padding-top: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .textbox {
  position: relative;
  max-width: 550px;
  z-index: 2;
}
.banner .textbox h2 {
  color: #b7b7b7;
  font-size: 3em;
}
.banner .textbox p {
  color: #e4e4e4;
  font-size: 16px;
  /* margin: 5px 0 25px; */
}
.banner .textbox a {
  position: relative;
  display: inline-block;
  background: #eeeeee;
  color: #656464;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
}
.banner .imgBox {
  position: relative;
  /* background: #c1bcbc; */
  margin-left: 40px;
  width: 100%;
  height: 400px;
  z-index: 1;
}
/* .carousel {
  margin: 5% 5%;
} */
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: none;
}
.carousel-inner {
  border-radius: 20px;
}
.navbar-nav .dropdown-menu {
  position: static;
  /* margin: 0; */
  width: 65%;
  float: none;
  border-radius: 20px;
}
.dropdown-item:focus, .dropdown-item:hover {
  border-radius: 20px;
  color: #fff;
  background-color: #b7b7b7;
}
.dropdown-item.active, .dropdown-item:active {
  border-radius: 20px;
  color: #fff;
  background-color: #b7b7b7
}
.navbar-collapse {
  margin-left: 6%;
}
.jumbotron-fluid {
  margin: 5%;
  border-radius: 5px;
}
.card-body {
  padding: 0.25rem;
}
.card-title {
  margin-bottom: 0.25rem;
}
i-cards {
  color: #e1e8ef
}
.btn-primary {
  color: #fff;
  padding: 0px 15px;
  font-size: 14px;
  background-color: #6b6a6a;
  border-color: #656464;
}
.h4, h4 {
  font-size: 1.3rem;
  color: #e2ecf5;
}
.h5, h5 {
  font-size: 1.0rem;
}
.col {
  margin: 10px 0;
}
.res-card {
  width: 8rem;
}
@media (max-width: 730px) {
  .banner {
    padding: 70px 50px 0;
    flex-direction: column;
  }
  .banner:before {
    display: none;
  }
  .banner .textbox {
    max-width: 100%;
  }
  .banner .textbox h2 {
    font-size: 2.5em;
  }
  .banner .imgBox {
    width: 100%;
    height: 200px;
    margin: 40px 0 100px;
  }
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 20px;
    padding: 5px;
    position: absolute;
  }
}
@media (min-width: 620px){
  .carousel {
    margin-left: 26%;
    width: 243px;
  }
}
@media (max-width: 627px){
  .carousel {
    margin: 0 auto;
    width: 240px;
  }
}
@media (max-width: 330px){
  .carousel {
    width: 195px;
  }
}

/* @media (min-width: 1510px){
  .carousel {
    margin-left: 40%;
    width: 40%;
  }
} */
@media (max-width: 352px) {
  .res-card {
    width: 6rem;
  }
}