.navbar-light .navbar-brand{
  color: #efececfa;
  margin-right: 10%;
  padding: 20px;
}
.navbar-nav .dropdown-menu {
  width: 0px;
}
.navbar-light .navbar-toggler {
  color: #fff;
  border-radius: 11px;
  background: #c1bcbc;
}
.navbar-light .navbar-nav .nav-link {
  color: #d6d2d2fa;
  margin-right: 40px;
}
.carousel {
  margin: 5% 5%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: none;
}
.carousel-inner {
  border-radius: 20px;
}
.navbar-nav .dropdown-menu {
  position: static;
  /* margin: 0; */
  width: 65%;
  float: none;
  border-radius: 20px;
}
.dropdown-item:focus, .dropdown-item:hover {
  border-radius: 20px;
  color: #fff;
  background-color: #b7b7b7;
}
.dropdown-item.active, .dropdown-item:active {
  border-radius: 20px;
  color: #fff;
  background-color: #b7b7b7
}
.navbar-collapse {
  margin-left: 6%;
}
.jumbotron-fluid {
  margin: 5%;
  border-radius: 5px;
}
@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 20px;
    padding: 5px;
    position: absolute;
  }
}
@media (min-width: 780px){
  .carousel {
    margin-left: 17%;
    width: 65%;
  }
}