.page {
    padding: 1rem;
    height: 100%;
}
.form label,
.form input {
    display: block;
}
.form input, textarea {
    margin-bottom: 1rem;
}
.form label {
    margin-bottom: 0.2rem;
    font-size: 18px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="file"],
.form input[type="password"],
textarea {
    width: 100%;
    padding: 0.2rem;
    background-color: #f6faff;
    border-radius: 8px;
    border: 1px solid rgb(223, 236, 223);
    font-size: 1.1rem;
}
.form input[type="radio"] {
    display: inline;
    margin-left: 8px;
}
textarea {
    outline: whitesmoke;
}
.PhoneInputCountrySelect {
    outline: none;
    padding: 5px;
    border-radius: 15px;
    background: rgb(240, 248, 255);
    color: rgb(51, 51, 51);
}
.PhoneInputInput {
    width: 55%;
    padding: 0.2rem;
    background-color: #f6faff;
    border: 1px solid rgb(223, 236, 223);
    font-size: 1.1rem;
}
.reg-link {
    color: #42cdec;
    text-decoration: none;
    font-size: 1.1rem;
}
.reg-link:hover {
    color: #31b4d1;
    text-decoration: none;
}
.form input:focus {
    border: 1px solid rgb(38, 228, 187);
    outline: none;
    box-shadow: inset 0px 0px 5px rgba(113, 243, 215, 0.5);
}
.form input[type="submit"] {
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #6aa051;
    background-color:  #c8ecb7;
    font-size: 1.1rem;
}
.form input[type="submit"]:hover {
    color: #f1f1f1;
    background-color: #2383d1;
    border: 1px solid #1476c7;
}
.wrong{
    border: 1px solid rgb(228, 60, 38);
    outline: none;
    box-shadow: inset 0px 0px 5px rgba(245, 71, 48, 0.5);
}
.price{
    display: none;
}
.error-notice {
    margin: 1rem 0;
    padding: 0.5rem;
    border: 1px solid #e07c7c;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8d6d6;
}
.error-notice button {
    width: 22px;
    height: 26px;
    background-color: #df4343;
    border-radius: 50%;
    color: #fff;
    border: none;
}
@media (min-height: 1000px) {
    .page {
        height: 100vh;
    }
}